﻿html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    background-image: url(http://i.imgur.com/XltfnOq.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
footer{
    background-color: black;
    height: 300px;
}
main{
    margin: 30px 0px;
}






.container{
    width: 100%;
}
.navbar{
    border-top: 20px solid orange;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.bottomred{
    border-top: 20px solid #F00;
    position: absolute;
    top: 205px;
    right: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: purple;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.navbar{
    background-image: url("http://silashatfield.com/Images/silas.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size: 100% 445px; 
}
.matrix{
    background-image: url("/Images/matrix.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
footer{
    min-height: 300px;
}
footer h1{
    color: red;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.maincontent{
    min-height: 400px;
}
.foot-content{
    margin: 20px; 
    padding: 20px; 
    color: black;
    border-radius: 10px;
}
.foot-link a, .foot-link a:active, .foot-link a:visited{
    font-size: 46px;
    width: 75%;
    color: purple;
}
.foot-link a:hover{
    color: white;
}
.foot-link{
    margin-top: 29px;
    text-align: center;
}
#socialbar{
    display: inline-block;
    position: absolute;
    z-index: 2000;
}
.navbar-toggle {
    margin-top: 65px;
    margin-right: 30px;
}
.contactlabel{
    font-weight: bold;
    margin-right: 5px;
}
.portfoliohead{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 150px;
    background-size: 100% 100%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.portfoliobody{
    padding: 20px;
}
.portfolioitem a, .portfolioitem a:active, .portfolioitem a:visited, .portfolioitem a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.portfolioitem{
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height: 250px;
    width: 100%;
    max-width: 100% !important;
}
#slider{
    margin-top: -20px;
}
.body-content{
    margin: 20px; 
    padding: 20px; 
    color: black;
    border-radius: 10px;    
}
.body-content h1{
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.aboutimg{
    width: 340px;
    max-width: 100% !important;
}
.aboutcontentwrapper{
    padding: 24px;
}
.aboutimgcontainer{
    text-align: center;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .bottomred{
        width: 33%;
    }
    #socialbar{
        top: 200px;
        right: 20px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .bottomred{
        width: 50%;
    }
    #socialbar{
        top: 200px;
        right: 80px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-nav{
        font-size: 28px;
        width: 67%;
        margin-left: 20px;
    } 
    .bottomred{
        width: 70%;
    } 
    #socialbar{
        top: 150px;
        right: 80px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar-nav{
        font-size: 46px;
        width: 75%;
        margin-left: 20px;
    }    
    .bottomred{
        width: 75%;
    } 
    #socialbar{
        top: 150px;
        right: 110px;
    }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {    
    .navbar-nav{
        font-size: 65px;
        width: 80%;
        margin-left: 20px;
    }
    .navbar-inverse .navbar-nav > li > a {
        margin-left: 15px;  
        font-size: 60px;  
    }  
    .bottomred{
        width: 80%;
    }  
    #socialbar{
        top: 150px;
        right: 125px;
    }    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1366px) {        
    .navbar-nav > li{
        margin-left: 30px; 
    }     
    #socialbar{
        top: 150px;
        right: 150px;
    }
}